{% extends 'base.html' %}

{% block content %}
<div class="container">
<form action={% url 'upload' %} method="POST">
{% csrf_token %}
<button type="submit" class="btn btn-primary">Upload</button>
</form>
</br>
<h2>Search your question here</h2>
<form action={% url 'guide' %} method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="input-question">Question</label>
    <input type="text" class="form-control" id="input-question" name="input-question" placeholder="Enter your question">
  </div>
<button type="submit" class="btn btn-primary">Get Answer</button>
</form>

<div class="container-result">

    <h3>{{question }}</h3>
    <h4>{{ answer }}</h4>

</div>
</div>
{% endblock  %}