{% extends 'base.html' %}

{% block content %}
<div class="container">
<a href={% url 'upload_question'%}<button type="button" class="btn btn-danger btn-lg disabled" aria-disabled="true">Upload Questions</button></a>
<a href={% url 'upload_answer'%}<button type="button" class="btn btn-danger btn-lg disabled" aria-disabled="true">Upload Answers</button></a>


 
<div class="container-list">
  
<form method="get">
  {{ my_filter.form }}
  <button type="submit" class="btn btn-primary">Filter Result</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Questions</th>
      <th scope="col">Answers</th>
    </tr>
  </thead>
  <tbody>
  {% for question in questions %}
    <tr>
      <th scope="row">{{ question.s_no }}</th>
      <td>{{ question.question }}</td>
      <td>{{ question.answer }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>
</div>
{% endblock  %}